// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css';

@import 'welcome';

@import 'header';

@import 'home';

@import 'myws';

html, body {
    background-color: #fff;
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    min-height: 100vh;
    margin: 0;
}

.margin-top{
    margin-top: 65px;
}


.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

table.table-bordered > thead > tr > th, table.table-bordered > tbody > tr > th, table.table-bordered > tbody > tr > td{
    border-color:  #00000044;
}

hr{
    border-color: #00000044;
}


.table {

    td, th{
        max-width: 1px;
    }

    .del-icon{
        color: $danger;
        font-size: 16px;
        font-weight: bold;
    }

}

.card-header{
    background-color: #dec47c;
    color: #be0a26;
    font-weight: 600;
    text-transform: capitalize;
}

h1, h2, h3, h4, h5, h6{
    color: $danger;
    font-weight: bold;
}
