#home{

    .img-wrapper{

        img{
            width: 100%;
        }
    }

    .card-header{
        font-weight: 800 !important;
    }

    .card-text{
        max-height: 230px;
        overflow-y: auto;
    }


}